.dropdown {
  height: 28px;
  width: 180px;
  background: #ffffff;
  border: 1px;
  border-style:solid;
  border-color:#000000;
}
.dropdown:before, .dropdown:after {
  position: absolute;
  z-index: 1;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 1px solid;  
  border-color: #000000 transparent;
}
.dropdown:before {
  border-bottom-style: solid;
}
.dropdown:after {
  margin-top: 7px;
  border-top-style: solid;
}

.dropdown-select {
  border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    width: 180px;
  background: #ffffff;
    margin: 0;
    padding: 4px 4px 4px 4px;
    height: 28px;
    font-size: 12px;
    color: #62717a;
  background: #ffffff;
overflow:scroll;
}
.dropdown-select:focus {
  z-index: 2;
  width: 100%;
  color: #000000;
  }
.dropdown-select > option {
  margin: 1px;
  padding: 4px 4px 4px 4px;
}

.lstClassContianer {
    overflow: auto;
    width: 180px;
    height: 180px;
    border: solid grey 1px;
    -moz-border-radius: 0%;
    border-radius: 0%;
}

.lstClass {
    display: inline-block;
    vertical-align: top;
    overflow: auto;
    width: 180px;
}

.listbox {
    height:180px;
    overflow: auto;
    width: 180px;
}

.lstClassContianerView {
    overflow: auto;
    width: 307px;
    height: 145px;
    border: solid grey 1px;
    -moz-border-radius: 3%;
    border-radius: 3%;
}

.listboxView {
    min-width: 307px;
    min-height: 100%;
    background-repeat: repeat-x;
    border: 1px solid #d1c7ac;
    color: #333333;
    padding: 3px;
    margin-right: 4px;
    margin-bottom: 8px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline !important;
    width: auto;
}
