<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
       <add name="DataAccessObject.Properties.Settings.DB_9CBDC5_campus2caretakerConnectionString"
            connectionString="Data Source=campus2caretaker.mssql.somee.com;Initial Catalog=campus2caretaker;Persist Security Info=True;User ID=Campus2Caretaker_SQLLogin_1;Password=b1r2js18xt"
            providerName="System.Data.SqlClient" />
      <!--<add name="DataAccessObject.Properties.Settings.DB_9CBDC5_campus2caretakerConnectionString"
            connectionString="Data Source=wp.cronnet.co.in;Initial Catalog=c2c;Persist Security Info=True;User ID=raghavak;Password=raghavak_1989"
            providerName="System.Data.SqlClient" />-->
      <!--<add name="DataAccessObject.Properties.Settings.DB_9CBDC5_campus2caretakerConnectionString"
           connectionString="Data Source=DESKTOP-UKCG5FD;Initial Catalog=c2c;Persist Security Info=True;User ID=sa;Password=super@123"
           providerName="System.Data.SqlClient" />-->
    </connectionStrings>
</configuration>