<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
       <!--<add name="DataAccessObject.Properties.Settings.DB_9CBDC5_campus2caretakerConnectionString"
            connectionString="Data Source=SQL5009.myASP.NET;Initial Catalog=DB_9CBDC5_campus2caretaker;Persist Security Info=True;User ID=DB_9CBDC5_campus2caretaker_admin;Password=campus2caretaker"
            providerName="System.Data.SqlClient" />-->
      <!--<add name="DataAccessObject.Properties.Settings.DB_9CBDC5_campus2caretakerConnectionString"
            connectionString="Data Source=wp.cronnet.co.in;Initial Catalog=c2c;Persist Security Info=True;User ID=raghavak;Password=raghavak_1989"
            providerName="System.Data.SqlClient" />-->
      <add name="DataAccessObject.Properties.Settings.DB_9CBDC5_campus2caretakerConnectionString"
           connectionString="Data Source=DESKTOP-UKCG5FD;Initial Catalog=c2c;Persist Security Info=True;User ID=sa;Password=super@123"
           providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>